<!DOCTYPE html>
<html>

<head>
    <title>
        Edit the task
    </title>
    <link href="/assets/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <body style="background-color: black;">

        <h1 id="headder">
            Task List
        </h1>
        <p id="detail">Here you can Add , Delete and Edit your Task</p>
        <div id="fill">
            <form action="/ok" method="POST">
                <label for="task">Enter the Available task with number  want to edit</label>
                <input type="text" name="task" placeholder="Enter the Task(task1,task2...)" required>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <script src="/assets/back.js"></script>
    </body>

</html>